{% extends "base/base.html" %}
{% block base %}

<div class="flex justify-center m-[3%]">
  <div class="flex flex-wrap justify-center">
    <div class="rounded-xl bg-[#f3f4f7] block shadow-md">

      {% include "widgets/return_button.html" %}

      <h1 class="text-xl text-center py-4">PSR</h1>

      <select class="block rounded-xl ml-5 w-64">
        <option value="" disabled selected hidden>Select file type</option>
        <option value="sub">Substitution</option>
        <option value="dis">Distribution</option>
        <option value="aar">AAR</option>
      </select>

      <input type="file" class="text-sm text-grey-500
        py-5 px-5
        file:mr-5 file:py-2 file:px-6
        file:rounded-xl file:border-0
        file:text-sm file:font-medium
        file:bg-yellow-500 file:text-black
        hover:file:cursor-pointer hover:file:bg-yellow-400
        hover:file:shadow-2xl
        file:transition ease-in-out duration-150"/>
      <br>
      <button class="h-10 w-16  m-5 text-black text-sm font-medium bg-yellow-500 rounded-xl shadow-md transition ease-in-out duration-150 hover:shadow-2xl hover:bg-yellow-400 ">
        Upload
      </button>
    </div>
  </div>
</div>


{% endblock base %}
