{% extends "base/base.html" %}

{% block base %}

<div class="flex justify-center m-[3%]">
    <div class="flex flex-wrap justify-center">
      <div class="flex flex-col rounded-xl bg-[#f3f4f7]  shadow-md w-128">

        <div>
        {% include "widgets/return_button.html" %}
        </div>

        <div class="flex items-center justify-center">
        <h1 class="pt-2 mb-5  font-semibold text-xl select-none">Change of Allocation</h1>
        </div>
        <div>
          <select class="block rounded-xl ml-5 w-64 hover:shadow-lg border-slate-300 transition ease-in-out duration-150 focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 cursor-pointer">
            <option value="" disabled selected hidden>CG</option>
            <option value="AMA"> AMA </option>
            <option value="AMC"> AMC </option>
            <option value="AMA"> AMN </option>
            <option value="AMS"> AMS </option>
            <option value="ASA"> ASA </option>
            <option value="NCE"> NCE </option>
            <option value="SEE"> SEE </option>
            <option value="SWE"> SWE </option>
            <option value="KE"> KE   </option>
          </select>
        </div>
        <p class="flex items-center justify-center mt-1 -mb-3 text-xs text-slate-500">Select country group for upload</p>
        <br>
        <div>
          <select class="block rounded-xl ml-5 w-64 hover:shadow-lg border-slate-300 transition ease-in-out duration-150 focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 cursor-pointer">
            <option value="" disabled selected hidden>Template</option>
            <option value="AAP1B">AAP1B</option>
            <option value="AAP1Qx4">AAP1Q x4</option>
            <option value="AAP2x4">AAP2 x4</option>
            <option value="AAP3">AAP3</option>
            <option value="AAP3C">AAP3C</option>
            <option value="AAP4">AAP4</option>
            <option value="TSC">TSC</option>
            <option value="SFS">Strategic Forming Safety</option>
            <option value="SESG">Strategic ESG</option>
            <option value="IT">IT</option>
            <option value="MA">Manual adjustments</option>
            <optgroup label="Forming machines">
              <option value="AAP1M">AAP1M</option>
              <option value="AAP2">AAP2</option>
              <option value="SABL">Strategic ABL</option>
              </optgroup>
          </select>
        </div>
        <p class="flex items-center justify-center mt-1 text-xs text-slate-500">Select template for upload</p>
        <div>
        <input type="file" class="text-sm text-grey-500
        py-5 px-5 w-full
        file:mr-5 file:py-2 file:px-6
        file:rounded-xl file:border-0
        file:text-sm file:font-medium
        file:bg-yellow-500 file:text-black
        hover:file:cursor-pointer hover:file:bg-yellow-400
        hover:file:shadow-2xl
        file:transition ease-in-out duration-150 mb-5"/>
        </div>
        <div>
        <button class="h-10 w-full text-black text-sm font-medium bg-yellow-500 rounded-b-xl shadow-md transition ease-in-out duration-150 hover:shadow-2xl hover:bg-yellow-400 active:bg-yellow-200 ">
          Upload
        </button>
        </div>
      </div>
    </div>
  </div>


{% endblock base %}

