{% extends "base/base.html" %}

{% block base %}
<br>
    <div class="flex flex-wrap flex-col justify-center h-auto">
        <a href="/alloc" style="display:block; vertical-align: middle; display: flex; align-items: center; justify-content: center;" 
        class="transition ease-in-out hover:-translate-y-1 duration-150  text-xl m-5 h-24 w-1/5 min-w-[250px]  mx-auto bg-white  rounded-xl hover:shadow-2xl shadow-md  text-center">
            Change of Allocation
        </a>
        <a href="/psr" style="display:block; vertical-align: middle; display: flex; align-items: center; justify-content: center;"
        class="transition ease-in-out hover:-translate-y-1 duration-150 text-xl  m-5 h-24 w-1/5 min-w-[250px]  mx-auto bg-white  rounded-xl hover:shadow-2xl shadow-md  text-center">
            PSR
        </a>
        <a href="/madj" style="display:block; vertical-align: middle; display: flex; align-items: center; justify-content: center;" 
        class="transition ease-in-out hover:-translate-y-1 duration-150 text-xl m-5 h-24  w-1/5 min-w-[250px] mx-auto bg-white rounded-xl hover:shadow-2xl shadow-md text-center">
            Manual Adjustments
        </a>
        <a target="_blank" href="" style="display:block; vertical-align: middle; display: flex; align-items: center; justify-content: center;"
        class="transition ease-in-out hover:-translate-y-1 duration-150 text-xl m-5 h-24  w-1/5 min-w-[250px] mx-auto bg-yellow-500 rounded-xl hover:shadow-2xl shadow-md text-center hover:bg-yellow-400 active:bg-yellow-200">
            Guidebook
        </a>
    </div>
{% endblock base %}