{% comment %} <a href={{request.META.HTTP_REFERER}}>RETURN</a> {% endcomment %}
<a href="/" class="h-10 w-10 p-3 float-left bg-yellow-500 active:bg-yellow-200 rounded-tl-xl rounded-br-xl fill-black text-black shadow-md  transition ease-in-out duration-150 hover:shadow-2xl hover:bg-yellow-400 " style="display:block; vertical-align: middle; display: flex; align-items: center; justify-content: center;" >
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-arrow-left fill-black" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
</a>